* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: grey;
}

.header-container {
  height: 50px;
}

.header-nav {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0 10px 0;
  background: #ddfbff;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.header-nav a {
  font-weight: bold;
  cursor: pointer;
  font-size: 1.5rem;
  text-decoration: none;
  color: grey;
}

.main-page {
  display: inline-grid;
  grid-template-columns: min-content;
  height: 94vh;
  width: calc(100% - 160px);
  background-image: url("./images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 160px;
  align-items: center;
  justify-content: center;
}

.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ddfbff;
  overflow-x: hidden;
  padding-top: 35px;
  opacity: 0.9;
}

.sidebar a {
  padding: 10px 8px 10px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #0077d7;
}

.main-desc-wrap {
  font-size: 16px;
  text-align: center;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.describe-title {
  font-size: 1.64em;
  margin: 0;
  letter-spacing: 0.5px;
}

.team-cards-title {
  font-size: 1.7em;
  position: absolute;
  margin-left: 206px;
  margin-top: -30px;
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 600px;
  height: 175px;
}

.flip-card {
  border-radius: 100px;
  background-color: transparent;
  width: 30%;
  height: auto;
  perspective: 1000px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-front {
  background-image: url("./images/avatar.png");
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: top;
}

.flip-card-front h4 {
  font-size: 18px;
  margin-top: 47px;
  margin-bottom: 30px;
}

.flip-card-front p,
.flip-card-back p {
  font-size: 16px;
  margin: 0 0;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 100px;
}

.flip-card-front {
  background: url("./images/avatar.png") 50% 5% no-repeat,
              url("./images/card-bg.jpg") 90% 90% no-repeat;
  background-size: 35%, cover;
}

.flip-card-back {
  background-color: #ddfbff;
  transform: rotateY(180deg);
}

.flip-card-back p {
  margin-top: 35%;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
